<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutLoud_Text_Reader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <OutLoud_Text_Reader.Properties.Settings>
            <setting name="RealtimeHighlightText" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StopSpeakOnClick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TextFont" serializeAs="String">
                <value>Lucida Console, 9.75pt</value>
            </setting>
            <setting name="HideOnCloseButton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableClipboardReading" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableSSML" serializeAs="String">
                <value>False</value>
            </setting>
        </OutLoud_Text_Reader.Properties.Settings>
    </userSettings>
</configuration>
